[teleport]
enabled=1
gpgcheck=1
repo_gpgcheck=1
baseurl=https://yum.releases.teleport.dev/centos/9/Teleport/{{pillar['teleport_arch']}}/{{pillar['teleport_branch']}}/{{pillar['teleport_version']}}
gpgkey=https://yum.releases.teleport.dev/gpg
name=Gravitational Teleport package